@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 24%, rgba(0, 0, 0, 1) 74%, rgba(167, 167, 167, 1) 100%, rgba(255, 255, 255, 1) 100%);

}

.lista {
    padding: 50px;
}

.intro {
    border-radius: 25px;
    font-family: "Mukta", sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(167, 167, 167, 1) 100%, rgba(255, 255, 255, 1) 100%);
    padding: 50px;
    background-color: black;
}

.conteudo-padrao {
    border-radius: 20px;
    background-color: black;
    margin-bottom: 50px;
    padding: 50px;
    flex-direction: column;
    text-align: center;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px,
        -10px -10px 5px;
}

h1 {
    color: white;
    font-weight: bold;
}

h2 {
    font-family: "Oswald", sans-serif;

    color: white;

}

#influentes {
    color: white;
}
.img-space{
    width: 500px;
    box-shadow: 10px 10px 5px rgb(41, 41, 41);

}


.img-pac {
    width: 500px;
    box-shadow: 10px 10px 5px rgb(41, 41, 41);

}

.img-dk {
    width: 505px;
    box-shadow: 10px 10px 5px rgb(41, 41, 41);

}

.img-mario {
    width: 505px;
    box-shadow: 10px 10px 5px rgb(41, 41, 41);
}

p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    margin-right: 20px;
    font-weight: bold;
    color: white;
}
footer{
    border-radius: 20px;
    
}
.email{
    
    margin: 20px;
    width: 50px;
}
h3{
    margin: 20px;
}
.rodape{
    width: 100px;
}
.github{
    width: 70px;

}
#foto{
    border-radius: 50%;
    width: 350px;
    height: 300px ;
    box-shadow: 5px 5px 5px whitesmoke;
}